<header class='entete'>
    <nav> 
        <ul>
            <li><a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a></li>
            <li><a href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Membres</a></li>
        </ul>
    </nav> 
    <section>
        <i class="fa fa-cubes fa-5x"></i>
        <h1>Node.js - Express - mongoDB et EJS</h1> 
    </section>
</header>