/*Variables*/
@hauteurEntete : 65px;
@hauteurFooter : 115px;

/*Ensemble de la page*/
body {
	min-height: 100vh;
	font-family : arial;
	display: flex;
	align-items: center;
	flex-direction: column;
}
/*Éléments de la page*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a,
a:visited,
a:link,
a:active {
	text-transform: none;
	color: black;
}
/*Tableau*/
.tableau {
		margin: 20px 0;
		border-collapse : collapse;
		
		td,th {
		 	border : 1px solid #aaa;
		 	padding : 5px;
		}
}

/*Formulaires*/
form {
	display: flex;
	flex-direction: column;

	input {
		display: block;
		margin: 5px 0;
		padding: 5px;
	}
	button {
		margin-top: 5px;
		display: block;
	}
}
.form_ajout,
.form_modif {
	width: 450px;
	.deux-colonnes {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/*Entete*/
.entete {
	width: 100%;
	height: @hauteurEntete;
	background-color: #43516C;
	.conteneur-entete {
		height: 100%;
		width: 85%;
		margin:auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		nav {
			ul {
				display: flex;
				justify-content: space-between;
				
				li:first-child {
					margin-right: 20px;
				}
				a {
					font-size: 18px;
					color: white;
				}
			}
			svg {
				margin-right: 5px;
			}
		}
		.titre {
			display: flex;
			align-items: center;

			h1 {
				display: inline-block;
				font-size: 30px;
				margin: 0;
				color: white;
			}
		}
	}
}

/*Accueil*/
#accueil {
	height: calc(100vh ~"-" @hauteurEntete ~"-" @hauteurFooter);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1 {
		margin: 0;
		font-size: 4.5vw;
	}
	p {
		margin: 0;
		font-size: 2.8vw;
	}
}

/*Adresses*/
#adresses {
	padding: 30px 0;
	h1 {
		margin-top:0;
	}
	.zone-action {
		display: flex;
		justify-content: space-between;
		ul {
			display: flex;
			align-items: center;
			li:first-child {
				margin-right: 20px;
			}

			li a svg{
				margin-right: 10px;
			}
		}
		form {
			flex-direction: row;
		}
	}
	.tableau {
		min-width: 900px;
		margin-bottom: 40px;
	}
}

/* Profil */
#profil {
	min-width: 900px;
	.info-membre {
		display: table;
		padding: 15px;
		border: 1px dotted darkgray;
		p {
			font-size: 20px;
			margin: 0;
			line-height: 150%;
			svg {
				width: 30px;
				margin-right: 10px;
			}
		}
	}
}

/* Footer */
.footer {
	height: @hauteurFooter;
	width: 100%;
	background-color: #e5e8c7;
    display: flex;
	justify-content: space-around;
	align-items: center;
}

/* Responsive */
@media all and (min-width: 960px) {
	#accueil {
		h1{
			font-size: 60px;
		}
		p {
			font-size: 40px;
		}
	}
}