/*Ensemble de la page*/
body {
  min-height: 100vh;
  font-family: arial;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*Éléments de la page*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:visited,
a:link,
a:active {
  text-transform: none;
  color: black;
}
/*Tableau*/
.tableau {
  margin: 20px 0;
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 1px solid #aaa;
  padding: 5px;
}
/*Formulaire*/
form {
  display: flex;
  flex-direction: column;
}
form input {
  display: block;
  margin: 5px 0;
  padding: 5px;
}
form button {
  margin-top: 5px;
  display: block;
}
/*Entete*/
.entete {
  width: 100%;
  height: 65px;
  background-color: #43516C;
}
.entete .conteneur-entete {
  height: 100%;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entete .conteneur-entete nav ul {
  display: flex;
  justify-content: space-between;
}
.entete .conteneur-entete nav ul li:first-child {
  margin-right: 20px;
}
.entete .conteneur-entete nav ul a {
  font-size: 18px;
  color: white;
}
.entete .conteneur-entete nav svg {
  margin-right: 5px;
}
.entete .conteneur-entete .titre {
  display: flex;
  align-items: center;
}
.entete .conteneur-entete .titre h1 {
  display: inline-block;
  font-size: 30px;
  margin: 0;
  color: white;
}
/*Accueil*/
#accueil {
  height: calc(100vh - 65px - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#accueil h1 {
  margin: 0;
  font-size: 4.5vw;
}
#accueil p {
  margin: 0;
  font-size: 2.8vw;
}
/*Adresses*/
#adresses {
  padding: 30px 0;
}
#adresses h1 {
  margin-top: 0;
}
#adresses .zone-action {
  display: flex;
  justify-content: space-between;
}
#adresses .zone-action ul {
  display: flex;
  align-items: center;
}
#adresses .zone-action ul li:first-child {
  margin-right: 20px;
}
#adresses .zone-action ul li a svg {
  margin-right: 10px;
}
#adresses .zone-action form {
  flex-direction: row;
}
#adresses .tableau {
  min-width: 900px;
  margin-bottom: 40px;
}
#adresses .form_ajout {
  width: 450px;
}
#adresses .form_ajout .deux-colonnes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Footer */
.footer {
  height: 115px;
  width: 100%;
  background-color: #e5e8c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Responsive */
@media all and (min-width: 960px) {
  #accueil h1 {
    font-size: 60px;
  }
  #accueil p {
    font-size: 40px;
  }
}
